[class^="planes__buttons"] {
  color: #fff;
}

.btn {
  width: 100%;
}

.registro:hover {
  transition: 0.5s;
  background-color: #B1E4EB;
}

.inicio:hover {
  transition: 1s;
  background-color: #BABABA;
}