.precios {
  height: 1200px;
  width: auto;
  background-image: url(../img/bg-price.svg);
  //background-position: right;
  //background-repeat: no-repeat;
  background-size: cover;
}

.precios__contenedor {
  height: 450px;
  flex-wrap: wrap;
  padding-top: 400px;
  display: flex;
  justify-content: center;
  font-family: $open-sans;
  font-weight: $regular;
  font-size: $medium;

  &__card {
    .card-title {
      font-family: $open-sans;
      font-weight: $regular;
      font-size: $x-large;
    }
    p {
      font-weight: $bold;
      font-size: $xxx-large;
    }

    ul {
      font-weight: $regular;
      font-size: $medium;
      height: 150px;
    }
  }
  @media only screen and (max-width: 320px) {
    height: 100%;
    width: 50%;
  }
}