//Tipografia
$open-sans: "Open Sans", sans-serif;
$Raleway: "Raleway", sans-serif;

//Peso de fuentes
$regular: 400;
$bold: 700;

//Tamaños de fuente
$xxxxx-large: 50px;
$xxxx-large: 45px;
$xxx-large: 40px;
$xx-large: 35px;
$x-large: 30px;
$large: 20px;
$medium: 16px;
$small: 14px;
$x-samll: 12px;